.auth-container {
  width: 100vw;
  margin-top: 60px;
  margin: 0 auto;
  max-width: 1600px;
  .contain {
    width: 100%;
    margin-top: 60px;
  }
}
.header-auth {
  position: fixed;
  top: 0;
  width: 100vw;
  max-width: 1600px;
  background-color: #fff;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
}
.auth-footer {
  width: 100%;
  max-width: 1600px;
  justify-content: space-between;
  align-items: center;
  height: 33px;
  font-size: 1.4rem;
  padding: 6px 16px;
  background-color: #c7c7c5;
  font-weight: 800;
  color: #757575;
  position: fixed;
  bottom: 0;
  p {
    margin: 0;
  }
}
