.tab-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    color: #fff;
    background-color: rgba(86, 85, 84, 1);
    height: 100%;
    padding: 0 2rem;
    border: none;
    border-right: 1px solid #4c4b4a;
    &:hover{
        background-color: rgba(86, 85, 84,0.8);
    }
    .nav-icon{
        margin-right: 1rem;
        display: flex;
        align-items: center;
        justify-content: center;
        i,svg{
            width: 2rem;
            height: 2rem;
        }
    }
}
